App/build
App/Pods
App/output
App/App/public
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App/App/config.xml

# fastlane
App/fastlane/report.xml
App/fastlane/Preview.html
App/fastlane/screenshots/**/*.png
App/fastlane/test_output
App/*.ipa
App/*.app.dSYM.zip
